<H1 align="center">Stock List</H1>
<table style="width:100%" >
  <tr><th>Sr. No</th>
    <th>Date</th>
    <th>Make</th>
    <th>Model</th>
    <th>Demand(PKR)</th>
    <th>Yom</th>
    <th>Status</th>
    <th>Availability</th>
   <th><strong>Actions</strong></th>
  </tr>

  <tr *ngFor="let stock of stocks let i=index">
  <td>{{i+1}}</td>
  <td>{{stock.create_date}}</td>
<td>{{stock.make}}</td>
<td>{{stock.model}}</td>
<td>{{stock.price}}</td>
<td>{{stock.yom}}</td>
<td>{{stock.status}}</td>
<td>{{stock.availability}}</td>
<td></td>

  </tr>
</table>
