<!-- Row -->
<div class="row">
  
    <div class="col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Stock List</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Manage Your Stock</h3>
                <p class="card-text">Click on the Link below to redirect to Stock Management.</p>
                <a href="/component/stock" class="btn btn-primary">Details </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Demand List</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Manage Your Demand</h3>
                <p class="card-text">Click on the Link below to redirect to Demand Management.</p>
                <a href="#" class="btn btn-primary"> Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Users List</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Manage Sub-Users</h3>
                <p class="card-text">Click on the Link below to redirect to Sub-User Management</p>
                <a href="#" class="btn btn-primary">Details </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Manage Your Profile</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Manage Profile</h3>
                <p class="card-text">Click on the Link below to redirect to Profile Management</p>
                <a href="#" class="btn btn-primary">Details </a>
            </div>
        </div>
    </div>

</div>
<!-- End Row -->
