

<div align="center">
  <h1>Add New Stock</h1>
  <form name="form1" action="" method="POST">
    <table>



      <tr>
        <td>
          <label> Name:</label>
        </td>
        <td>
          <input type="text" name="name" placeholder="Enter Full Name" [(ngModel)]="name">
        </td>
      </tr>


      <tr>
        <td>
          <label> Number:</label>
        </td>
        <td>
          <input type="text" name="number" placeholder="Enter Number" [(ngModel)]="number">
        </td>
      </tr>

      <tr>
        <td>
          <label> Description:</label>
        </td>
        <td>
          <input type="text" name="description" placeholder="Enter Description" [(ngModel)]="description">
        </td>
      </tr>


      <tr>
        <td>
          <label> Make:</label>
        </td>
        <td>
          <input type="text" name="make" placeholder="Enter Make" [(ngModel)]="make">
        </td>
      </tr>

      <tr>
        <td>
          <label>Model:</label>
        </td>
        <td>
          <input type="text" name="model" placeholder="Enter Model" [(ngModel)]="model">
        </td>
      </tr>

      <tr>
        <td>
          <label>Version:</label>
        </td>
        <td>
          <input type="text" name="version" placeholder="Enter Version" [(ngModel)]="version">
        </td>
      </tr>






      <tr>
        <td>
          <label>Transmission:</label>
        </td>
        <td>
          <input type="text" name="transmission" placeholder="Enter Transmission" [(ngModel)]="transmission">
        </td>
      </tr>

      <tr>
        <td>
          <label>Color:</label>
        </td>
        <td>
          <input type="text" name="color" placeholder="Enter Color" [(ngModel)]="color">
        </td>
      </tr>

      <tr>
        <td>
          <label>Mileage:</label>
        </td>
        <td>
          <input type="text" name="mileage" placeholder="Enter Mileage" [(ngModel)]="mileage">
        </td>
      </tr>


      <tr>
        <td>
          <label>yom:</label>
        </td>
        <td>
          <input type="text" name="yom" placeholder="Enter yom" [(ngModel)]="yom">
        </td>
      </tr>


      <tr>
        <td>
          <label>refrence:</label>
        </td>
        <td>
          <input type="text" name="refrence" placeholder="Enter refrence" [(ngModel)]="refrence">
        </td>
      </tr>

      <tr>
        <td>
          <label>note:</label>
        </td>
        <td>
          <input type="text" name="note" placeholder="Enter note" [(ngModel)]="note">
        </td>
      </tr>

      <tr>
        <td>
          <label>availability:</label>
        </td>
        <td>
          <input type="text" name="availability" placeholder="Enter availability" [(ngModel)]="availability">
        </td>
      </tr>


      <tr>
        <td>
          <label>price:</label>
        </td>
        <td>
          <input type="text" name="price" placeholder="Enter price" [(ngModel)]="price">
        </td>
      </tr>


      <tr>
        <td>
          <label>image:</label>
        </td>
        <td>
          <input type="text" name="image" placeholder="Enter image" [(ngModel)]="image">
        </td>
      </tr>




      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="Submit" (click)="saveval()">
        </td>
      </tr>
    </table>
  </form>
</div>


